@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Web Application was built by Jordan Curran as requested by Priority1, please click the ToDo List menu tab to begin.</p>
</div>
